.lsContainer
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
    position:sticky;
   
    /* background-color: aqua; */
}
.lsWrapper
{
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1024px;
    justify-content: space-around;
   
   
     
}
.lsSearch
{
    flex:1;
    height:550px;
    background-color: #febb02;
    padding: 20px;
    position:sticky;
    border-radius: 10px;
    top:10px;

}

.lsTitle
{
    color: #555;
    margin-bottom:10px;
    font-size: 20px;
}

.lsItem
{ 
    
 
    margin-bottom: 10px;
}
.lsItem>label
{
    font-size: 16px;
    
    
}
.lsInput
{
    height: 30px;
    border: none;
    padding: 5px;
}
.lsItem>span
{
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.lsOptionItem
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: rgb(22, 21, 21);
 
}
.lsOptionInput
{
    height: 25px;
    width: 75px;
    border: none;
}
.lsOptions
{ 
 margin-left: 5px;
 margin-right: 5px;
   
}
.searchBtn
{
  width: 100%;
  margin-top: 10px;
  background-color: #0073c2;
  color: white;
  border: none;
  height: 40px;
}

.lsResult
{
    
    flex:3;
}