.footer
{
   
    max-width: 1024px;
    margin-top: 20px;
    font-size: 12px;
}

.fLists
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap:150px
}
.fItem
{
    color: #003580;
    cursor: pointer;
    margin-bottom: 10px;
}

.fList
{
   padding: 0;
   margin-bottom: 40px;
   list-style: none;
  
}
.fText
{
    color: #003580;
    padding: 0;
}